*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body{
    overflow-x:hidden;
}
header{
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 100vh;
    overflow: hidden;
}
header .video-header video{
    position: absolute;
    min-width: 100%;
    min-height: 110%;
    
}
.banner nav{
    background: linear-gradient(30deg,black,green,black,green,black,green);
    height: 50px;
    position: fixed;
    width: 100%;
}
header .banner{
    
    position: relative;
    height: 80px;
    z-index: 1;
    background-color: rgba(0,0, 0, 0.5);
    height: 100vh;
}
.banner ul li{
    display: inline-block;
    float: right;
    padding: 13px;

}
.banner ul li a{
    color: white;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
  
    
    
}
.banner ul{
    text-align: right;
}
   .banner ul p{
       text-align: left;
       color: white;
       font-size: 25px;
       padding: 8px;
       float: left;
       z-index: 1;
       
   } 
   .banner ul li a::before{
       background: linear-gradient(35deg,blue,limegreen);
       content: '';
       width: 0%;
       height: 100%;
       top: 0%;
       left: 0%;
       z-index: -2;
       position: absolute;
       transition: 0.5s;
   }
   .banner ul li a:hover::before{
       width: 100%;
   }
   .banner #text{
       color: white;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       text-align: center;
   }
   .banner #text h1{
       padding: 50px;
   }
   .banner #text p{
       letter-spacing: 2px;
   }
   .banner #text span{
       position: absolute;
       background-color: rgb(122, 231, 14);
       height: 1px;
       width: 650px;
       left: 10%;
       top: 100px;
   }
  section #gallery{
      background-image: url(31299.jpg);
      background-size: cover;
      height: 100vh;
      width: 100%;
      
  }
section #gallery h1{
    text-align: center;
    color: white;
}
section #gallery img{
    height: 180px;
    width: 200px;
    filter: grayscale(100%);
    transition: 0.3s;
}
section #gallery #c{
    padding-left:180px;
}
section #gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
section .k{
    background-color: rgb(2, 0, 3);
    display: flex;
    color: white;
    text-align: center;
}
.a{
    
    height: 300px;
    width: 25%;
    float: left;
}
.b{
    
    height: 300px;
    width: 25%;
    float: left;
    border: chartreuse;
}
.c{
   
    height: 300px;
    width: 25%;
    float: left;
   
}
.d{
    
    height: 300px;
    width: 25%;
    float: left;
}
.c li{
    display: block;
}
.c li a{
    text-decoration: none;
    color: white;
}
.k img{
    height: 100px;
    width: 25%;
}
